.container{margin-left: 1rem; margin-top: 4rem; margin-bottom: 100px;}
.bullet{height: 8px; width: 8px}
.title{font-size: 1.5rem; font-weight: 700; color: black; margin-left: 10px;}
.content{margin-left: 25px; margin-top: 5px; font-size: .9rem; word-spacing: 0rem; width: 90%;}