.firstPage{ display: flex; justify-content: center; height: 100vh; overflow: hidden; box-sizing: border-box;}
.secondPage{height: 100%; position: relative; box-sizing: border-box; display: flex; flex-direction: column; align-items: center;}
.thirdPage{height: 100%; box-sizing: border-box; position: relative;}
.logoImpression{height: 100px; will-change: transform}
.navbar{position: sticky; top: 0; left: 0; width: 100%; display: flex; justify-content: center; align-content: center; z-index: 4;}
.navbarContainer{ width: 100%; height: 50px; position: relative; display: flex;}
.navbarBgImg{ width: 100%; justify-self: center;}
.navbarLogo{ position: absolute; height: 62%; align-self: center; margin-left: 3%}
.navbarContent{position: absolute; align-self: center; margin-left: 30%; width: 40%; height: 24px; display: none; justify-content: space-between;}
.navbarText{color: #333; text-decoration: none; font-size: 15px; font-weight: 400;}
.navbarText:hover{border-bottom: #FF6B19 solid 2.5px}
.navbarIcon{display: flex; flex-direction: row; flex-wrap: wrap; width: 22px; position: absolute; align-self: center; right: 3%;}
.navbarMenu{display: flex; flex-direction: column; position: absolute; background-color: #ececec; width: 30vw; height: 20vh; border: solid #999 ; right: 0px; top: 100%; z-index: 5;} 
.hero{border-left: solid; border-right: solid; border-color: #999; width: 92%; height: 100%; display: flex; justify-self: center; margin-top: 0%; flex-direction: column;}
.space{height: 20px;}
.dashboard{display: flex; flex-direction: row; height: 345px; width: 100%;}
.dashboardLeft{display: 'flex'; flex-direction: column; height: 100%; width: 50%; box-sizing: border-box; border-top: solid; border-bottom: solid; border-right: solid; border-color: #999}
.dashboardUpper{height: 50%; width: 100%; border-bottom: solid; border-color: #999; display: flex; flex-direction: column; justify-content: center; align-content: center}
.dashboardLower{height: 50%; width: 100%; display: flex;flex-direction: column; justify-content: center; align-content: center}
.dashboardLower:hover{color: #FF6B19;}
.dashboardUpper:hover{color: #FF6B19;}
.dashboardRobot{height: 100%; width: 56.35%; box-sizing: border-box; border: solid; border-color: #999; display: none;}
.dashboardRight{display: 'flex'; flex-direction: column; height: 100%; width: 50%; box-sizing: border-box; border-top: solid; border-bottom: solid; border-color: #999;}
.evolve{width: 75%; height: 75%;}
.textUpper{font-size: 63px; font-weight: 600; align-self: center}
.textLower{font-size: 15px; font-weight: 400; align-self: center}
.drone{width: 50px;position: absolute;z-index: 3; left: 50px; top: 520px}
.droneLanding1{position: absolute; left: 52.5px; top: 547px; height: 4px; width: 45px; background-color: #FF6B19; border-radius: 50px}
.droneLanding2{position: absolute; left: 52.5px; top: 947px; height: 4px; width: 45px; background-color: #FF6B19; border-radius: 50px}
.marqueeBox{padding-top: 10px; padding-bottom: 15px; width: 100%; height: 70px; display: flex; align-items: center; overflow: hidden;}
.marqueeText{font-size: 70px; display: flex; font-weight: 600; letter-spacing: 1px; word-spacing: 10px; white-space: nowrap;}
.eventComp{margin-top: 450px;}
.footer{display: flex; position: relative; height: 270px; width: 100%; border-top: dashed #999; box-sizing: border-box; overflow: hidden;}
.footerTitle{font-size: 1.3rem; font-weight: 600; margin-top: 20px; margin-left: 30px; width: 100%;}
.footerSubTitle{color: #333; font-size: 1rem; margin-top: 10px; margin-left: 30px; width: 100%;}
.footerConnect{font-size: 1.3rem; font-weight: 600; margin-top: 70px; margin-left: 30px; width: 100%;}
.footerImg{position: absolute; width: 31%; left: 550px; top: 10px; display: none;}

@media screen and (min-width: 426px){
    /* tablets */
    .logoImpression{height: 150px;}
    .navbarContainer{height: 55px; width: 96%;}
    .navbarContent{display: flex;}
    .navbarText{font-size: 1.15rem;}
    .navbarIcon{display: none;}
    .navbarMenu{ display: none;}
    .hero{width: 86%;}
    .drone{left: -3px; top: 400px;}
    .droneLanding1{left: 0; top: 427px}
    .droneLanding2{left: 0; top: 827px}
    .dashboard{height: 445px;}
    .dashboardLeft{width: 22.30%; border-right: none;}
    .dashboardRobot{display: block;}
    .dashboardRight{width: 21.5%;}
    .evolve{width: 80%;}
    .textUpper{font-size: 56px;}
    .textLower{font-size: 16px;}
    .space{height: 30px;}
    .marqueeBox{height: 90px;}
    .marqueeText{font-size: 90px;}
    .eventComp{margin-top: 0px;}
    .footerTitle{font-size: 1.5rem;}
    .footerSubTitle{font-size: 1.05rem;}
    .footerConnect{font-size: 1.5rem;}
    .footerImg{display: block;}
}

@media screen and (min-width: 769px){
    /* desktop */
    .logoImpression{height: 200px;}
    .navbarContainer{height: 90px; width: 96%;}
    .navbarContent{display: flex;}
    .navbarText{font-size: 1.15rem;}
    .navbarIcon{display: none}
    .navbarMenu{ display: none;}
    .hero{width: 86%;}
    .drone{left: .07%; top: 400px; width: 65px;}
    .droneLanding1{left: .45%; top: 435px; width: 55px;}
    .droneLanding2{left: .45%; top: 956px; width: 55px;}
    .dashboard{height: 545px;}
    .dashboardLeft{width: 22.5%; border-right: none;}
    .dashboardRobot{display: block;}
    .dashboardRight{width: 21.5%;}
    .textUpper{font-size: 80px;}
    .textLower{font-size: 20px;}
    .space{height: 80px;}
    .marqueeBox{height: 100px;}
    .marqueeText{font-size: 100px;}
    .eventComp{margin-top: 0px;}
    .footer{height: 320px;}
    .footerTitle{font-size: 1.75rem; margin-left: 30%; margin-top: 30px;}
    .footerSubTitle{font-size: 1.1rem; margin-left: 30%;}
    .footerConnect{font-size: 1.75rem; margin-left: 30%;}
    .footerImg{display: block; left: 80%; top: 5px; width: 24%;}
}