.navbar{position: sticky; top: 0; left: 0; width: 100%; display: flex; justify-content: center; align-content: center; z-index: 4}
.navbarContainer{ width: 100%; height: 50px; position: relative; display: flex;}
.navbarBgImg{ width: 100%; justify-self: center;}
.navbarLogo{ position: absolute; height: 62%; align-self: center; margin-left: 3%}
.navbarContent{position: absolute; align-self: center; margin-left: 30%; width: 40%; height: 24px; display: none; justify-content: space-between;}
.navbarText{color: #333; font-weight: 400; text-decoration: none; font-size: 15px; width: 55px;}
.navbarText:hover{color: #FF6B19}
.navbarIcon{display: flex; flex-direction: row; flex-wrap: wrap; width: 22px; position: absolute; align-self: center; right: 3%;}
.navbarMenu{display: flex; flex-direction: column; position: absolute; background-color: #ececec; width: 92vw; height: 0vh; border-bottom: solid #999 1px ; left: 4%; top: 99.5%; z-index: 4; overflow: hidden;}
.main{height: 100%; position: relative; box-sizing: border-box;}
.drone{width: 5%;position: absolute;z-index: 3; left: .7%; top: 400px; display: none;}
.droneLanding1{position: absolute; left: .65%; top: 420; height: 4px; width: 5%; background-color: #FF6B19; border-radius: 50px; display: none;}
.droneLanding2{position: absolute; left: .65%; top: 728; height: 5px; width: 5%; background-color: #FF6B19; border-radius: 50px; display: none;}
.hero{border-left: solid; border-right: solid; border-color: #999; width: 92%; height: 100%; display: flex; justify-self: center; margin-top: 0%; flex-direction: column;}
.imgContainer {overflow: hidden;margin: 0px; position: relative;}  
.slideContainer {display: flex; transition: transform 0.5s ease-in-out;}  
.Img {flex: 0 0 100%; width: 100%; }
.prevBtn{position: absolute; height: 25px; width: 25px; bottom: 0%; right: 25px; z-index: 1;}
.nextBtn{position: absolute; height: 25px; width: 25px; bottom: 0%; right: 0%; z-index: 1;}
.titleContainer{display: flex; align-items: center; margin-left: 10px; margin-top: 30px}
.bullet{height: 8px; width: 8px}
.title{font-size: 1.5rem; font-weight: 600; color: black; margin-left: 10px;}
.para{font-size: .9rem; padding: 10px; width: 90%; margin-left: 10px;}
.modalities{font-size: .9rem; margin-left: 10px; width: 90%; padding: 10px; margin-bottom: 10vh;}
.footer{display: flex; position: relative; height: 270px; width: 100%; border-top: dashed #999; box-sizing: border-box; overflow: hidden;}
.footerTitle{font-size: 1.3rem; font-weight: 600; margin-top: 20px; margin-left: 30px; width: 100%;}
.footerSubTitle{color: #333; font-size: 1rem; margin-top: 10px; margin-left: 30px; width: 100%;}
.footerConnect{font-size: 1.3rem; font-weight: 600; margin-top: 70px; margin-left: 30px; width: 100%}
.footerIcon{height: 30px; width: 30px; margin-left: 30px; margin-top: 5px;}
.footerImg{position: absolute; object-fit: cover; width: 31%; left: 550px; top: 10px; display: none;}

@media screen and (min-width: 426px){
    /* tablets */
    .navbarContainer{height: 55px; width: 100%;} /*width: 96%*/
    .navbarContent{display: none;}
    .navbarText{font-size: 1.1rem;}
    .navbarIcon{display: flex;}
    .navbarMenu{display: flex;}
    .hero{width: 92%;} /*width: 86%*/
    .drone{display:none;}
    .droneLanding1{display: none;}
    .droneLanding2{display: none;}
    .prevBtn{height: 40px; width: 40px; right: 40px;}
    .nextBtn{height: 40px; width: 40px;}
    .bullet{height: 10px; width: 10px;}
    .titleContainer{margin-left: 1.5rem;}
    .title{margin-left: 15px; font-size: 1.6rem;}
    .para{font-size: 17px; margin-left: 1rem;}
    .modalities{font-size: 1.1rem; margin-left: 1rem;}
    .footerTitle{font-size: 1.5rem;}
    .footerSubTitle{font-size: 1.05rem;}
    .footerConnect{font-size: 1.5rem;}
    .footerImg{display: block;}
}

@media screen and (min-width: 769px) {
    /* desktop */
    .navbarContainer{height: 90px; width: 96%;}
    .navbarContent{display: flex;}
    .navbarText{font-size: 1.15rem;}
    .navbarIcon{display: none;}
    .navbarMenu{display: none;}
    .hero{width: 86%;}
    .drone{display: block; left: .07%; top: 400px; width: 65px;}
    .droneLanding1{display: block; left: .65%; top: 435px; width: 55px;}
    .droneLanding2{display: block; left: .65%; top: 956px; width: 55px;}
    .prevBtn{height: 45px; width: 45px; right: 45px;}
    .nextBtn{height: 45px; width: 45px;}
    .bullet{height: 10px; width: 10px;}
    .titleContainer{margin-left: 2rem; margin-top: 2.5rem;}
    .title{margin-left: 15px; font-size: 1.9rem;}
    .para{font-size: 17px; margin-left: 1rem;}
    .modalities{font-size: 17px; margin-left: 1rem;}
    .footer{height: 320px;}
    .footerTitle{font-size: 1.75rem; margin-left: 30%; margin-top: 30px;}
    .footerSubTitle{font-size: 1.1rem; margin-left: 30%;}
    .footerConnect{font-size: 1.75rem; margin-left: 30%;}
    .footerIcon{margin-left: 30%;}
    .footerImg{display: block; left: 76%; top: 5px; width: 22%;}
}

@media screen and (min-width: 1439px) {
    .drone{left: 1%; top: 400px; width: 65px;}
    .droneLanding1{left: 1.3%; top: 435px; width: 55px;}
    .droneLanding2{left: 1.3%; top: 956px; width: 55px;}
}