.navbar{position: sticky; top: 0; left: 0; width: 100%; display: flex; justify-content: center; align-content: center; z-index: 5001}
.navbarBgImg{ width: 100%; justify-self: center; align-self: center}
.navbarLogo{ position: absolute; height: 60%; align-self: center; margin-left: 2%}
.navbarContent{position: absolute; align-self: center; margin-left: 30%; width: 40%; height: 24px; display: flex; justify-content: space-between}
.navbarText{color: #333; text-decoration: none;}
.navbarText:hover{border-bottom: #FF6B19 solid 2.5px}
.main{height: 100%; position: relative; box-sizing: border-box;}
.drone{width: 5%;position: absolute;z-index: 3; margin-left: .5%; margin-top: 38%}
.droneLanding{position: absolute; height: .40%; width: 5%; background-color: #FF6B19; border-radius: 50px}
.hero{border-left: solid; border-right: solid; border-color: #999; width: 86%; height: 100%; display: flex; justify-self: center; margin-top: 0%; flex-direction: column;}
.title{font-size: 2rem; font-weight: 700; color: black; margin-left: 15px;}
.cardBox{display: flex; flex-wrap: wrap; width: 93%; align-self: center; justify-content: space-between; gap: 50; margin-top: 20; margin-bottom: 80;}
.card{width: 250; height: 350; border: 1px solid #999;}
.footer{display: flex; position: relative; height: 42vh; width: 100%; border-top: dashed #999; box-sizing: border-box; overflow: hidden;}
.footerTitle{font-size: 1.75rem; font-weight: 700;}
.footerSubTitle{color: #333; font-size: 1.1rem; margin-top: 10;}
.footerConnect{font-size: 1.5rem; font-weight: 600; margin-top: 100;}
.footerImg{position: absolute; object-fit: cover; width: 24%; margin-left: 53%; margin-top: .5%;}